.Login {
    margin:0 auto;
    max-width:500px;
  }
  
  .LoginForm {
    border:.5px solid #d9d9d9;
    background:#fff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
  }
  .LoginForm h3 {
    text-align:left;
    margin-left:40px;
    color:#000;
  }
  .LoginForm {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .Login input[type="text"],
  .Login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
  }
  
  /*.Login input[type="checkbox"] 
  {
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    width: 20px;
    height: 20px;
    display: flex;
    margin: 10px;
    margin-left: 45px;
  }*/
  
  .Login textarea
  {
    max-width:400px;
    min-width:400px;
    min-height: 70px;
    width: 100%;
    line-height:1.5em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
  }